<footer class="site-footer h-card">
<data class="u-url" href="/TerryTopGroupAssignment2/"></data>

<div class="wrapper">

<h2 class="footer-heading">Terry Top Team Project</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Yutang He</li><li><a class="u-email" href="mailto:S3914127@student.rmit.edu.au">S3914127@student.rmit.edu.au</a></li>
      <li class="p-name">Cayden Burling</li><li><a class="u-email" href="mailto:S3917982@student.rmit.edu.au">S3917982@student.rmit.edu.au</a></li>
      <li class="p-name">Kim Fyfe</li><li><a class="u-email" href="mailto:S3916921@student.rmit.edu.au">S3916921@student.rmit.edu.au</a></li>
    </ul>
  </div>
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
    <li class="p-name">Aidan Suski</li><li><a class="u-email" href="mailto:S3843894@student.rmit.edu.au">S3843894@student.rmit.edu.au</a></li>
    <li class="p-name">Anh Pham</li><li><a class="u-email" href="s3804723@student.rmit.edu.au">s3804723@student.rmit.edu.au</a></li>
    </ul>
  </div>
</div>

  <div class="footer-col footer-col-3">
    <p>Website to hold all of our current Terry Top Team Project work and to show our future plans for productions</p>
  </div>
</div>


</footer>
